// banner 開始 //
.banner{
    position: relative;
    animation-name: banner;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    font-size: 0;
    .banner-img{
        position: absolute;
        top: 7%;
        left: 21%;
        z-index: 30;
        width: 60%;
        height: 32%;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 5px;
        img{
            width: 100%;
            height: 100%;
            vertical-align: top;
            display: inline-block;
            animation-name: banner-img-slide;
            animation-duration: 16s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    img{
        width:100%;
        max-height: 900px;
        margin: 0 auto;
    }
    .discount{
        margin: 0 auto;
        img{
        position: absolute;
        bottom:0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 300px;
     }
     a{
        text-decoration: none;
        .discount-box{
            position: absolute;
            top: 76%;
            left: 18%;
            z-index: 30;
            width: 85%;
            font-size: 0;
            animation-name: discount-box;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        &:hover{
            transform: scale(1.05,1.05);
            h6{
                color: orangered;
                background: #fff;
            }
            p{
                color: #fff; 
                background: orangered;
            }
        }
        h6{
            color: #fff;
            background: orangered;
            font-size: 50px;
            font-weight: 800;
            width: 40%;
            line-height: 90px;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            border-radius: 10px 0 0 10px;
        }
     }
}
     p{
        color: orangered;
        background: #fff;
        font-size: 40px;
        font-weight: 700;
        width: 40%;
        line-height: 90px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        border-radius: 0 10px 10px 0;
     }
    }
}
.search{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 53%;
    left: 9%;
    z-index: 30;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    form{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 2%;
        margin: 0 auto;
        label{
            color: #fff;
        }
        input{
            padding: 5px 0;
            font-size: 11px;
            width: 15%;
        }
        button{
            width: 5%;
            display: inline-block;
            vertical-align: middle;
            margin: 0 1%;
            outline: 0;
            color: #1f1f1f;
            font-weight: bold;
            font-size: 16px;
            background: #ededed;
            padding: 1% 0;
            border-radius: 3px;
            border: none;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                background: #03a9f4;
                color: #fff;
            }
        }
 }
    

}
// banner 結束 //

// 關於我們  //
.about{
    padding: 40px 0;
    font-size: 0;
    .box{
        display: inline-block;
        width: 33.33333%;
        img{
            width: 20%;
            display: inline-block;   
            vertical-align: middle;
        }
        p{
            font-size: 25px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
            color: #1f1f1f;
        }
    }
}

// 人氣景點 //
main{
    background: #ededed;
    width: 1000px;
}
.location{
     font-size: 0; 
    h2{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        padding: 5px 0;
    }
    .location-photo{
        .location-photo-1{
            animation-name: location-photo-1;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-2{
            animation-name: location-photo-2;
            animation-duration: 1.8s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-3{
            animation-name: location-photo-3;
            animation-duration: 1.6s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-4{
            animation-name: location-photo-4;
            animation-duration: 1.4s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-5{
            animation-name: location-photo-5;
            animation-duration: 1.2s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-6{
            animation-name: location-photo-6;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-7{
            animation-name: location-photo-7;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        .location-photo-8{
            animation-name: location-photo-8;
            animation-duration: 0.6s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
        li{
            width: 47%;
            display: inline-block;
            margin: 1.5% 1.5%;
            position: relative;
            img{
                transition: 0.8s;
                width: 480px;
                height: 300px;
                border-radius: 5px;
                }
            img.active{
                opacity:0.3;
            }    
            a{
                font-size: 30px;
                font-weight: 800;
                color: orangered;
                text-decoration: none;
                display: block;
                h4{
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    background: rgba( lemonchiffon ,0.6);
                    border-radius:3px;
                    transition: 1s;
                    }
                    h4.active{
                        bottom: 80%;
                        background:none;
                }
                p{
                    display: none;
                    font-size: 20px;
                    color: orangered;
                    transition: 1s;
                }
                p.active{
                    display: block;
                    position: absolute;
                    top: 30%;
                    left: 15px;

                }
            }
            &:hover {
                img {
                    transform: scale(1.1,1.1);
                }
            }    
         }
      }
    }
    // 人氣景點結束 //

